<div class="form-group">
  <label for="title">Title</label>
  <input
    type="text"
    class="form-control"
    id="title"
    name="title"
    value="<%= article.title %>"
    placeholder="Title"
    required
  />
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea class="form-control" id="description" name="description" required><%= article.description %></textarea>
</div>
<div class="form-group">
  <label for="markdonw">Markdown</label>
  <textarea class="form-control" id="markdonw" name="markdown"><%= article.markdown %></textarea>
</div>

<div class="form-group">
  <label for="category">Category</label>
  <select class="form-control" id="category" name="category" required>
    <option value="reactjs">ReactJS</option>
    <option value="nodejs">NodeJS</option>
    <option value="javascript">Javascript</option>
    <option value="typescript">Typescript</option>
    <option value="database">Database</option>
    <option value="other">Other</option>
  </select>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
